@model ReservationFinalProject.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<h2>@ViewBag.Title</h2>

<div id="crudContainer">
    <div>
        <p>
            <strong>@Html.DisplayNameFor(model => model.UserName):</strong>
            @Html.DisplayFor(model => model.UserName)
        </p>
    </div>

    <h4>List of roles for this user</h4>

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    <div id="rightFooter">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "editButton" })
        @Html.ActionLink("Back", "Index", null, new { @class = "backButton" })
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                responsive: true
            })
        });
    </script>
}