@model IEnumerable<ReservationFinalProject.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<div>
    @Html.ActionLink("Add User", "Create", "UsersAdmin", null, new { @class = "button" })
</div>
<table class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                responsive: true
            })
        });
    </script>
}