@model ReservationFinalProject.DATA.EF.Location

@{
    ViewBag.Title = Model.LocationName + " " + "Details";
}

<h2 class="centerText">@ViewBag.Title</h2>

<div id="crudContainer">
    <div id="leftInfo">
        <fieldset>
            <legend>Location Information</legend>
            <p>
                @Html.DisplayFor(model => model.Address) @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)
            </p>
        </fieldset>
    </div>

    <div id="rightInfo">
        <fieldset>
            <legend>Reservation Information</legend>
            <p>
                <strong>@Html.DisplayNameFor(model => model.ReservationLimit):</strong> @Html.DisplayFor(model => model.ReservationLimit)
            </p>
        </fieldset>
    </div>
    <div class="clearfix"></div>
    <div class="row" id="rightFooter">

        @if (User.IsInRole("Admin"))
        {
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.LocationID }, new { @class = "editButton" })
            </div>
        }

        <div>
            @Html.ActionLink("Back", "Index", null, new { @class = "backButton" })
        </div>
    </div>
</div>