@model ReservationFinalProject.DATA.EF.Reservation

@{
    ViewBag.Title = "Delete";
}

<h3 class="centerText">Are you sure you want to delete this reservation?</h3>
<div id="crudContainer">
    <div class="row">
        <p>
            <strong>@Html.DisplayNameFor(model => model.ReservationDate):</strong>
            @Html.DisplayFor(model => model.ReservationDate)
        </p>

        <p>
            <strong>@Html.DisplayNameFor(model => model.Location.LocationName):</strong>
            @Html.DisplayFor(model => model.Location.LocationName)
        </p>

        <p>
            <strong>@Html.DisplayNameFor(model => model.OwnerAsset.AssetName):</strong>
            @Html.DisplayFor(model => model.OwnerAsset.AssetName)
        </p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="leftFooter">
            <input type="submit" value="Delete" class="confirmDelete" />
        </div>
    }
    <div id="rightFooter">
        @Html.ActionLink("Back", "Index", null, new { @class = "backButton" })
    </div>
</div>
