@model ReservationFinalProject.DATA.EF.Reservation

@{
    ViewBag.Title = "Reservation Details";
}

<h2 class="centerText">@ViewBag.Title</h2>

<div id="crudContainer">
    <div class="row">
        <p>
            <strong>@Html.DisplayNameFor(model => model.OwnerAsset.AssetName):</strong>
            @Html.DisplayFor(model => model.OwnerAsset.AssetName)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Location.LocationName):</strong>
            @Html.DisplayFor(model => model.Location.LocationName)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.ReservationDate):</strong>
            @Html.DisplayFor(model => model.ReservationDate)
        </p>
    </div>
    <div id="rightFooter">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationID }, new { @class = "editButton" })
        @Html.ActionLink("Back", "Index", null, new { @class = "backButton" })
    </div>
</div>