@model IEnumerable<ReservationFinalProject.DATA.EF.Reservation>

@{
    ViewBag.Title = "Index";
}

<div>
    @Html.ActionLink("Add Reservation", "Create", "Reservations", null, new { @class = "button" })
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}