@model IEnumerable<ReservationFinalProject.DATA.EF.Reservation>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin") || User.IsInRole("Client"))
{
    <div>
        @Html.ActionLink("Add Reservation", "Create", "Reservations", null, new { @class = "button" })
    </div>
}
<table class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerAsset.UserDetail.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new { id=item.ReservationID })">
                        @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerAsset.UserDetail.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }, new { @class = "editButton" }) 
                    @*@Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |*@
                    @if (User.IsInRole("Admin") || User.IsInRole("Client"))
                    {
                        @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID }, new { @class = "deleteButton" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                responsive: true
            })
        });
    </script>
}