@model ReservationFinalProject.DATA.EF.UserDetail

@{
    ViewBag.Title = "Delete";
}

<h3 class="centerText">Are you sure you want to delete this?</h3>
<div id="crudContainer">

    <div class="row">
        <p>
            <strong>@Html.DisplayNameFor(model => model.FirstName):</strong>
            @Html.DisplayFor(model => model.FirstName)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.LastName):</strong>
            @Html.DisplayFor(model => model.LastName)
        </p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="leftFooter">
            <input type="submit" value="Delete" class="confirmDelete" />
        </div>
    }
    <div id="rightFooter">
        @Html.ActionLink("Back", "Index", null, new { @class = "backButton" })
    </div>
</div>
