@model ReservationFinalProject.DATA.EF.UserDetail

@{
    ViewBag.Title = "Account Details";
}

<h2 class="centerText">@ViewBag.Title</h2>

<div id="crudContainer">
    <div class="row">
        <p>
            <strong>@Html.DisplayNameFor(model => model.FirstName):</strong>
            @Html.DisplayFor(model => model.FirstName)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.LastName):</strong>
            @Html.DisplayFor(model => model.LastName)
        </p>
    </div>
    <div id="rightFooter">
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "editButton" })
        @Html.ActionLink("Back", "Index", null, new { @class = "backButton" })
    </div>
</div>