@model IEnumerable<ReservationFinalProject.DATA.EF.UserDetail>

@{
    ViewBag.Title = "Index";
}

<table class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new { id=item.UserID })">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "editButton" })
                    @*@Html.ActionLink("Details", "Details", new { id = item.UserID }) |*@
                    @if (User.IsInRole("Admin"))
                    {
                        @: |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "deleteButton" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                responsive: true
            })
        });
    </script>
}