@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Role Details";
}

<h2 class="centerText">@ViewBag.Title</h2>

<div id="crudContainer">
    <div>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Name):</strong>
            @Html.DisplayFor(model => model.Name)
        </p>
    </div>
    <h4>List of users in this role</h4>

    <table class="table">

        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
            </tr>
        }
    </table>
    <div id="rightFooter">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "editButton" })
        @Html.ActionLink("Back", "Index", null, new { @class = "backButton" })
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                responsive: true
            })
        });
    </script>
}