@model ReservationFinalProject.DATA.EF.OwnerAsset

@{
    ViewBag.Title = Model.AssetName + " " + "Details";
}

<h2 class="centerText">@ViewBag.Title</h2>

<div id="crudContainer">
    <div id="childHeader">
        <h3>@Html.DisplayFor(model => model.AssetName)</h3>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div id="leftInfo">
            <p>
                <img src="@Url.Content("~/Content/images/Photos/" + Model.AssetPhoto)" alt="@Model.AssetName" class="customImage" />
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.UserDetail.FullName):</strong>
                @Html.DisplayFor(model => model.UserDetail.FullName)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.IsActive):</strong>
                @Html.DisplayFor(model => model.IsActive)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.DateAdded):</strong>
                @Html.DisplayFor(model => model.DateAdded)
            </p>
        </div>
        <div id="rightInfo">
            <fieldset>
                <legend>@Html.DisplayNameFor(model => model.SpecialNotes)</legend>
                <p>@Html.DisplayFor(model => model.SpecialNotes)</p>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="rightFooter">
        @Html.ActionLink("Edit", "Edit", new { id = Model.OwnerAssetID }, new { @class = "editButton" })
        @Html.ActionLink("Back", "Index", null, new { @class = "backButton" })
    </div>
</div>