@model IEnumerable<ReservationFinalProject.DATA.EF.OwnerAsset>

@{
    ViewBag.Title = "Owner Assets";
}

<div>
    @Html.ActionLink("Add Asset", "Create", "OwnerAssets", null, new { @class = "button" })
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AssetPhoto)*@
                    <img src="@Url.Content("~/Content/images/Photos/" + item.AssetPhoto)" alt="@item.AssetName" class="image"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OwnerAssetID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OwnerAssetID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OwnerAssetID })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}