@model IEnumerable<ReservationFinalProject.DATA.EF.OwnerAsset>

@{
    ViewBag.Title = "Owner Assets";
}

@if (User.IsInRole("Admin") || User.IsInRole("Client"))
{
    <div>
        @Html.ActionLink("Add Child", "Create", "OwnerAssets", null, new { @class = "button" })
    </div>
}
<table class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AssetPhoto)*@
                    <a href="@Url.Action("Details", new { id = item.OwnerAssetID })">
                        <img src="@Url.Content("~/Content/images/Photos/" + item.AssetPhoto)" alt="@item.AssetName" class="customImage" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OwnerAssetID }, new { @class = "editButton" })
                    @if (User.IsInRole("Admin") || User.IsInRole("Client"))
                    {
                        @:|
                        @*@Html.ActionLink("Details", "Details", new { id = item.OwnerAssetID }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.OwnerAssetID }, new { @class = "deleteButton" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                responsive: true
            })
        });
    </script>
}