@model ReservationFinalProject.UI.MVC.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<h2 class="centerText">@ViewBag.Title</h2>
<div id="crudContainer">

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <p>
                            @Html.ActionLink("Register a new user?", "Register")
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <p>
                            @Html.ActionLink("Forget your password?", "ForgotPassword")
                        </p>
                    </div>
                </div>
            </div>
            <div id="leftFooter">
                <input type="submit" class="saveButton" value="Log In" />
            </div>
        }
    </section>
    <div id="rightFooter">
        <a href="@Url.Action("Index", "Home")">Back</a>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ReservationFinalProject.UI.MVC.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}